<div style='width: 250px; height: 60px; padding: 5px'>
  <div style='float:left'>
    <a href="/books/<%= book.id %>">
      <%= image_tag book.cover_filename, width: 40, height: 60 %>
    </a>
  </div>
  <div style='width:200px; height: 60px; margin-left: 50px'>
    <a href="/books/<%= book.id %>">
      <i><%= book.title %></i>
      <br>
      by L. Frank Baum
      <br>
      #<%= book.number %> in the Oz series
    </a>
  </div>
</div>
